.mypage{
    padding: 100px 0px 0px;
}
select{
    
    -webkit-appearance: none;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    background: white url('caret-down.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right;
    display: block;
    background-position-x: 95%;
}

select#book,.book-details {
    display: none;
}
.book-details h2{
    margin: 0px auto;
    max-width: 300px;
}